body {
  background-color: #dce0dc;
}

#container {
  text-align: center;
  border: 2px solid black;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  height: 423px;
  background-color: black;
  color: white;
  padding: 0px;
  color: white;
  border-radius: 10px;
}

#display {
  width: 97%;
  padding: 5px;
  background-color: black;
  color: #f2ab05;
  height: 60px;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

div div button {
  width: 75px;
  height: 70px;
  color: white;
  background-color: #3e403e;
  border-radius: 5px;
}

#clear {
  width: 149px;
  background-color: #c40e26;
}

#equal {
  width: 149px;
  background-color: #1c255c;
}

#divide,
#multiply,
#subtract,
#add,
#percent {
  background-color: #717571;
}

div div button:hover {
  width: 75px;
  height: 70px;
  color: black;
  background-color: #3e403e;
  border: 1px solid white;
}

#info {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  gap: 5px;
  color: #696e6a;
}

#info h3 {
  margin-top: 20px;
}

#info p {
  margin-top: 0;
}

#logo {
  text-align: center;
  margin-left: 50%;
  margin-right: 50%;
  color: #696e6a;
  margin-top: 30px;
}